div(id="mainWrapper")
    div(id="data-low-protection", style="margin-bottom:0;", role="alert", v-if="showDataProtectionLawMessage").text-center.alert.alert-info.text-info
        span This website uses cookies for view statistics. No personal data are stored.
        span.hspace &nbsp;
        button(type="button", @click="acceptCookies()").btn.btn-primary.btn-sm Accept
        span.hspace &nbsp;
        button(type="button", @click="rejectCookies()").btn.btn-danger.btn-sm Hide
    div(id="top").container-fluid
        div(id="top-nav").container
            h1(id="header-title")
                | Java
                span.red EE
                | &nbsp;Factory&nbsp;
                wbr
                small bootstrap your EE application

    div(id="main")
        div.container
            router-view
            div.clearfix

    div(id="footer").text-center
        section.col-sm-3
            p.txt-railway
                a(href="https://github.com/rmannibucau/factorEE", target="_blank") JavaEE Factory
                | &nbsp;is an effort to promote &#123;JavaEE&#125;
        section.col-sm-3
            p.txt-railway
                i.fa.fa-code-fork
                | &nbsp;Fork me on&nbsp;
                a(href="https://github.com/rmannibucau/factorEE", target="_blank")
                    | Github&nbsp;
                    i.fa.fa-github-alt
        section.col-sm-3
            p.txt-railway
                | Powered by Blue Jeen and&nbsp;
                a(href="https://twitter.com/rmannibucau", target="_blank")
                    i.fa.fa-twitter
                    | &nbsp;RMannibucau
        section.col-sm-3
            p.txt-railway Special thanks to&nbsp;
                a(href="https://start.spring.io/", target="_blank")
                    | Spring Initializr&nbsp;
                    i.fa.fa-leaf
                | &nbsp;for the idea
