div(id="data-low-protection", style="margin-bottom:0;", role="alert", v-if="showDataProtectionLawMessage").text-center.alert.alert-info.text-info
    span This website uses cookies for view statistics. No personal data are stored.
    span.hspace &nbsp;
    button(type="button", @click="acceptCookies()").btn.btn-primary.btn-sm Accept
    span.hspace &nbsp;
    button(type="button", @click="rejectCookies()").btn.btn-danger.btn-sm Hide
div(id="top").container-fluid
    div(id="top-nav").container
        h1(id="header-title") JavaEE Factory&nbsp;
            wbr
            small bootstrap your EE application

div(id="main").container
    div.container
        router-view
div.clearfix

footer(id="footer").text-center.center-block
    section
        a(href="https://twitter.com/rmannibucau", target="_blank")
            i.fa.fa-twitter.fa-2x.social
    section
        p.txt-railway
            | JavaEE Factory is an effort to promote JavaEE powered by Blue Jeen and&nbsp;
            a(href="https://twitter.com/rmannibucau", target="_blank") RMannibucau
        p.txt-railway Special thanks to&nbsp;
            a(href="https://start.spring.io/") Spring Initializr
            | &nbsp;for the idea

