html, body, #content {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    /*padding-top: 70px;*/
    padding-bottom: 70px;
}

#loginForm {
    max-width: 250px;
    margin: auto;
}

.inline-input {
    width: auto;
    display: inline;
    height: 2em;
}

.vspace {
    height: 20px;
}

.hspace {
    padding-left: 15px;
}

.vspace10 {
    height: 10px;
}

.social {
    margin: 10px;
}

.navbar-default {
    background-color: #FF8000;
}

.navbar-nav > li > a, .navbar-brand {
    color: #ffffff !important;
}

/* some fixes for idea highlightjs theme */
pre {
    background: white;
}

.hljs-meta {
    color: #808000;
}

/* for home page, inspired from bootstrap doc */
.bs-callout-container {
    padding-left: 0;
    margin-bottom: 1em;
}

.bs-callout {
    border: 1px solid #eee;
    border-left-width: 10px;
    border-radius: 3px;
    padding: 1em;
}

.bs-callout h3 {
    margin-top: 5px;
}

/* footer */
#footer {
    border-top: 1px #e7e7e7 solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* spinner */
.spinner, .spinner-text {
    text-align: center;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    margin: auto;
    -webkit-user-select: none;
    color: #FF8000;
    padding-top: -1em;
}
.spinner-text {
    top: -50px;
    font-size: larger;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #FF8000;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

/* data low protection block */
#data-low-protection {
    z-index: 5;
}

/* navabar customization */
#mainLogo {
    margin-top: -0.25em;
    margin-left: -0.5em
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
}
#top {
    width: 100%;
    color: #eee;
    background-color: #FF8000;
    font-size: 25px;
    padding: 0.5em 0;
    border-top: 4px solid #5382A1;
}
#header-title {
    color: #fff;
}
#header-title small {
    color: #5382A1;
    padding-left: 0.3em;
}
.relief-button {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF8000), to(#DF7401));
}
.relief-button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF8000), to(#FAAC58));
}
